<%= error_messages_for 'time_entry' %>
<%= back_url_hidden_field_tag %>
<% enddate_id = TimeEntryCustomField.where(:name => "Enddatum").first.try(:id) %>

<script>
  $(document).ready(function(){
    $("#startdate").datepicker({
      dateFormat : "<%= I18n.t('date.formats.default').sub('%d','dd').sub('%m','mm').sub('%Y','yy') %>",
      duration : 0,
      altField : "#time_entry_spent_on",
      altFormat : "yy-mm-dd",
      defaultDate : "<%= I18n.l(@time_entry.spent_on) %>",
      onClose : function(date, datepicker){
                  if (date === ""){
                    $("#time_entry_spent_on").val(date);
                  }
                  $("#enddate").datepicker("option","minDate", date);
                }
    })
    .datepicker("setDate","<%= I18n.l(@time_entry.spent_on) %>");

    $("#enddate").datepicker({
      dateFormat : "<%= I18n.t('date.formats.default').sub('%d','dd').sub('%m','mm').sub('%Y','yy') %>",
      duration : 0,
      altField : "#time_entry_custom_field_values_<%=enddate_id %>",
      altFormat : "yy-mm-dd",
      minDate : $("#startdate").datepicker("getDate"),
      onClose : function(date, datepicker){
                  $("#time_entry_custom_field_values_<%=enddate_id %>").val(date);
                }
    })
    <% if enddate_id and not @time_entry.custom_field_value(enddate_id).blank? %>
      .datepicker("setDate", "<%= I18n.l(@time_entry.custom_field_value(enddate_id).to_date) %>");
    <% end %>
  });
  // if datefield is emptied after datepicker is closed, we have to clear hiddenfield manually
  function empty_on_change(source, target){
    if ($(source).val()===""){
      $(target).val("");
    }
  }
  function change_project(){
      var project_id = $("#time_entry_project_id").val().toString();
      var startdate = $("#time_entry_spent_on").val();
      var enddate = $("#time_entry_custom_field_values_<%= enddate_id %>").val();
      var hours = $("#time_entry_hours").val().toString();
      var comments = $("#time_entry_comments").val();
      var activity_id = $("#time_entry_activity_id").val().toString();
        
      url = '<%= url_for(:controller => 'timelog', :action => 'new', :project_id => "'+project_id+'" ).html_safe %>';
      url = url + "?time_entry[spent_on]="+startdate+"&time_entry[hours]="+
            hours+"&time_entry[comments]="+comments+"&time_entry[activity_id]="+activity_id+
            "&time_entry[custom_field_values][<%=enddate_id %>]="+enddate;
      window.location = url;
  }

  function change_calendarweek(){
    var range = $("#calendarweek").val().split("||");
    
    $("#startdate").datepicker("setDate",range[0]);
    $("#enddate").datepicker("option", "minDate", range[0]);
    $("#enddate").datepicker("setDate",range[1]);
  }

</script>

<div class="box tabular">
	
	<p><%= f.select :project_id, !@project ? ["kein Projekt"] : project_tree_options_for_select(Project.allowed_to(:log_time).all, 
	                :selected => @project), {:required => true}, {:onchange => "change_project()"}%>
        </p>
	<p><%= f.select :issue_id, params[:all_issues].empty? ? ["keine Aufgaben"] : params[:all_issues], {:required => true,
	                :selected => (@issue ? "#{@issue.id} - #{@issue.subject}" : nil)}, {:disabled => params[:all_issues].empty?}%>
	</p>
	<p>
	  <label for="startdate">Anfang: <span class="required">*</span></label>
	  <%= text_field_tag "startdate", "", :size => 10, :required => true, :disabled => params[:all_issues].empty?, 
	                                      :oninput => "empty_on_change('#startdate','#time_entry_spent_on')".html_safe %>
	  <%= hidden_field_tag "time_entry[spent_on]" %>
	  <span style="font-weight:bold; padding-left:20px">Kalenderwoche: </span>
	    <select id="calendarweek" onchange="change_calendarweek()" onfocus="this.selectedIndex=-1;" style="width:70px">
	      <option value="" selected disabled hidden></option>
	      <% params[:calendarweeks].each do |week| %>
	         <% datestring = I18n.l(week.beginning_of_week).to_s+"||"+I18n.l(week.end_of_week-2).to_s %>
	         <option value="<%= datestring %>"><%= week.cweek %></option>
	      <% end %>
	    </select>
	</p>
	<p>
	  <% if enddate_id %>
	    <label for="enddate">Enddatum: </label>
	    <%= text_field_tag "enddate", "", :size => 10, :disabled => params[:all_issues].empty?,
	                                      :oninput => ("empty_on_change('#enddate','#time_entry_custom_field_values_"+enddate_id.to_s+"')").html_safe%>
	    <%= hidden_field_tag "time_entry[custom_field_values]["+enddate_id.to_s+"]"%>
	  <% end %>
	</p>
	
	<p><%= f.text_field :hours, :size => 6, :required => true, :disabled => params[:all_issues].empty? %></p>
	<p><%= f.text_field :comments, :size => 100 %></p>
	<p><%= f.select :activity_id, activity_collection_for_select_options(@time_entry), {:required => true}, 
	               {:disabled => params[:all_issues].empty?} %></p>
	<% @time_entry.custom_field_values.select{|v| v.custom_field.name != "Enddatum" and v.custom_field.name != "Kosten/Stunde"}.each do |value| %>
	  <p><%= custom_field_tag_with_label :time_entry, value %></p>
	<% end %>
	<%= call_hook(:view_timelog_edit_form_bottom, { :time_entry => @time_entry, :form => f }) %>
</div>
