<h2><%= l(:label_spent_time) %></h2>

<%= labelled_form_for @time_entry, :url => time_entry_path(@time_entry) do |f| %>
  <%= render :partial => 'form_edit', :locals => {:f => f} %>
  <%= submit_tag l(:button_save) %>
<% end %>
