<h2><%= l(:label_spent_time) %></h2>

<%= labelled_form_for @time_entry, :url => time_entries_path do |f| %>
  <%= hidden_field_tag 'project_id', params[:project_id] if params[:project_id] %>
  <%= render :partial => 'form_new', :locals => {:f => f} %>
  <%= submit_tag l(:button_create), :disabled => params[:all_issues].empty? %>
  <%= submit_tag l(:button_create_and_continue), {:name => 'continue', :disabled => params[:all_issues].empty?} %>
<% end %>
