table {
  border-collapse: collapse;
  border: 1px solid gray;
  width: 80%;
}

table th {
  padding: 4px;
  border-bottom: 1px solid grey;
  background-color: #EEEEEE;
}

table td {
  text-align: center;
}

table tr:first-of-type td{
  padding-top: 4px;
}

.negative {
  color: green;
}

.positiv {
  color: red;
}

.sum {
  font-weight: bold;
  border-top: 1px dashed grey;
}

.sum td {
  padding: 5px;
}

/* from here are the styles for the new view which shows
   entries per week 
*/


.kw-container {
  width: 500px;
  background-color: #EFEFEF;
  border: 1px dotted gray;
  overflow: hidden;
  padding: 15px;
}

.kw-container:hover{
  background-color: #FFFFFF;
}

.kw-collapsible-link {
  width: 200px;
  float: left;
}

.kw-header-time{
  width: 80px;
  float: left;
}

.kw-days{
  display:none;
  margin-left: 15px;
  margin-top: 25px;
  border-left: 1px dotted gray;
  width: 90%;
  border-right: 1px dotted gray;
  border-top: 1px dotted gray;
}

.day{
  background-color: #FFFFFF;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px dotted gray;
}

.day:hover{
  background-color: #EFEFEF;
}

.day-date{
  width: 179px;
  float: left;
}

.day-time{
  width: 80px;
  float: left;
}

#description{
  width: 500px;
  background-color: #EFEFEF;
  border: 1px dotted gray;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  font-weight: bold;
}

.description-date{
  width: 172px;
  float: left;
}

.description-time{
  width: 90px;
  float: left;
}

.kw-month-sum{
  width:500px;
  padding-top: 25px;
  padding-left: 30px;
  font-weight: bold;
}

.kw-month-heading{
  float: left;
  width: 188px;
}

