.menu{
	width: auto;
}

.item{
	padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
}

.item:hover{
	background-color: white;
}

.subitem{
  padding-left: 15px;
  background-image: url('../images/arrow_collapsed.png');
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

.subitem:hover{
  background-color: white;
}

