
<table>
    <tr>
        <th></th>
        <th>User</th>
        <th>Personalabteilung</th>
        <th>Verbucht</th>
        <th>Differenz</th>
    </tr>
    <% values.each do |user, csvhours, loghours| %>
        <tr class="<%= cycle("odd","even") %>">
            <td><input name="wanted[<%= user.id %>]" value="1" type="checkbox"></td>
            <td><%= link_to user.name, {:controller => 'csvupload', :action => 'month_times_per_cweek',
                :user_id => user.id, :date => @date.to_s} %></td>
            <td><%= csvhours.round(2) %></td>
            <td><%= loghours.round(2) %></td>
            <% difference = loghours - csvhours%>
            <td class="<%= difference <= 0 ? 'negative' : 'positiv' %>"><%= difference.round(2) %></td>
        </tr>
    <% end %>
</table>
