<% csvsum = 0 %>
<% timelogsum = 0 %>
<% differencesum = 0 %>

<table>
	<tr>
		<th>Datum</th>
		<th>Einträge der Personalabteilung </th>
		<th>Verbuchte Einträge</th>
		<th>Differenz</th>
	</tr>
	<% (@date.beginning_of_month..@date.end_of_month).each do |day| %>
		<tr class="<%=cycle('odd','even')%>">
			<td><%= day.strftime('%d.%m.%Y') %></td>
			<td><%= csv[day] || 0.0 %> h</td>
			<% csvsum += (csv[day] || 0.0) %>
			<td>
			<%= link_to({:controller => 'timelog', :action =>'index', :from => day.to_s, :to => day.to_s}) do %> 
				 <%= timelog[day] || 0.0 %> h
			<% end %>
			</td>
			<% timelogsum += (timelog[day] || 0.0) %>
                        <% difference = (timelog[day] || 0.0) - (csv[day] || 0.0) %>
			<td class="<%= difference <= 0 ? 'negative' : 'positiv' %>"> <%= difference %> h</td>
			<% differencesum +=(timelog[day] || 0.0) - (csv[day] || 0.0) %>
		</tr>
	<% end %>
	<tr class="sum">
		<td>Gesamt:</td>
		<td><%= csvsum %></td>
		<td><%= timelogsum %></td>
		<td class="<%= differencesum <= 0 ? 'negative' : 'positiv' %>"><%= differencesum %></td>
	</tr>
</table>
