<h2>CSV-Datei Upload</h2>

<%= form_tag({:controller => 'csvupload', :action => "upload"}, :multipart => true)  do %>
  <%= file_field_tag 'csvfile', :value => '.csv', :accept => 'text/csv' %>
  <%= submit_tag 'Upload' %>
<% end %>
