<% monthname=["Januar","Februar","März","April","Mai","Juni","Juli","August","September","Oktober",
    "November","Dezember"] %>
<%= stylesheet_link_tag('csventries', :plugin => 'redmine_mytimes') %>

<h2>Zeitdifferenz, <%= monthname[@date.month-1] %> <%=@date.year %> </h2>

<p>
	<%= form_tag({:controller => 'csvupload', :action => 'index'}, :method => :get) do %>
	<label for="date">Datum</label><%= text_field_tag :date, @date %>
    <%= javascript_tag "$(function(){ $('#date').datepicker({dateFormat: 'yy-mm-dd'});});" %>
	<%= submit_tag("Aktualisieren", :class => "icon icon-reload") %>
	<% end %>
</p>

<% if !@all_entries.empty? %>
        <form id="exportform" action="<%= url_for :controller => 'csvupload', :action =>'export' %>" method="get">
            <input type="hidden" name="date" value="<%= @date %>" >
            <%= render :partial => "table", :locals => {:values => @all_entries} %>
            <br>
            <div id="exportlink">
                    <a href="#">Export als CSV</a>
            </div>
        </form>
        <%= javascript_tag "$(document).ready(function(){
                $('#exportlink').click( function(){ 
                    $('#exportform').submit();
                });
            })" %>
<% end %>
