<% monthname=["Januar","Februar","Maerz","April","Mai","Juni","Juli","August","September","Oktober",
    "November","Dezember"] %>
<%= stylesheet_link_tag("csventries", :plugin => "redmine_mytimes") %>

<h2>Zeitdifferenz für <%= @user.name %></h2>

<p>
	<%= form_tag({:controller => 'csvupload', :action => 'month_times_per_day'}, :method => :get) do %>
	<label for="date">Datum</label><%= text_field_tag :date, @date %><%= calendar_for('date') %>
	<%= submit_tag("Aktualisieren", :class => "icon icon-reload") %>
	<% end %>
</p>

<%= render :partial => 'table_detail', :locals => {:csv => @all_entries[:csv], :timelog => @all_entries[:timelog]} %>
<p>
<%= link_to "Export",{:controller => 'csvupload', :action => 'export', :date => @date.to_s, :user_id => @user.id} %>
</p>
