<% monthname=["Januar","Februar","Maerz","April","Mai","Juni","Juli","August","September","Oktober",
    "November","Dezember"] %>
<%= stylesheet_link_tag("csventries", :plugin => "redmine_mytimes") %>
<%= javascript_include_tag("csventries", :plugin => "redmine_mytimes") %>

<h2>Zeitdifferenz für <%= @user.name %></h2>

<p>
	<%= form_tag({:controller => 'csvupload', :action => 'month_times_per_cweek'}, :method => :get) do %>
	<label for="date">Datum</label><%= text_field_tag :date, @date %>
	<%= javascript_tag "$(function(){ $('#date').datepicker({dateFormat: 'yy-mm-dd'});});" %>
	<%= submit_tag("Aktualisieren", :class => "icon icon-reload") %>
	<% end %>
</p>



<div id="description">
  <div class="description-date">Datum</div>
  <div class="description-time">Stempelzeit</div>
  <div class="description-time">verbucht</div>
  <div class="description-time">Differenz</div>
</div>


<% total_sum_month_csv = 0 %>
<% total_sum_month_timelog = 0 %>

<% @CSV_ordered_entries.each do |first_day_of_week, week| %>

  <% # define some variables, which come in handy later %>
  <% kw_csv_sum = @CSV_ordered_entries[first_day_of_week].values.inject(0) {|sum, value| sum + value} %>
  <% kw_timelog_sum = @Timelog_ordered_entries[first_day_of_week].values.inject(0) {|sum, value| sum + value} %>
  <% kw_diff = kw_timelog_sum - kw_csv_sum %>

  <div id="kw-id-<%= first_day_of_week.cweek %>" class="kw-container">
    <div class="kw-header">
      <div class="kw-collapsible-link">
        <a href="#" class="collapsible collapsed"> Kalenderwoche <%= first_day_of_week.cweek %> </a>
      </div>
      <div class="kw-header-time">
        <%= kw_csv_sum.round(2) %> h
      </div>
      <div class="kw-header-time">
        <%= link_to({:controller => "timelog", :action => "index", :user_id => @user.id,
          :from => first_day_of_week, :to => first_day_of_week.end_of_week}) do %>
          <%= kw_timelog_sum.round(2) %> h
        <% end %>
      </div>
      <div class="kw-header-time <%= kw_diff > 0 ? "positiv" : "negative" %> ">
        <%= kw_diff.round(2) %> h
      </div>
    </div>
    
    <div class="kw-days">
      <% week.each do |day, csvvalue| %>
        <div class="day">
          <div class="day-date"><%= localize(day, :format => "%A, %d.%m.%Y") %></div>
          <div class="day-time"><%= csvvalue.round(2) %> h</div>
          <div class="day-time">
            <%= link_to({:controller => "timelog", :action => "index", :user_id => @user.id,
              :from => day, :to => day}) do %>
              <%= @Timelog_ordered_entries[first_day_of_week][day] %> h</div>
            <% end %>
          <% day_diff = @Timelog_ordered_entries[first_day_of_week][day] - csvvalue %>
          <div class="day-time <%= day_diff.round(2) > 0 ? "positiv" : "negative" %>"><%= day_diff.round(2) %> h</div>
        </div>
        
        <% if day >= @date.beginning_of_month and day <= @date.end_of_month %>
          <% total_sum_month_csv += csvvalue %>
          <% total_sum_month_timelog += @Timelog_ordered_entries[first_day_of_week][day] %>
        <% end %>
        
      <% end %>
    </div>
  
  </div>

<% end %>

<div class="kw-month-sum">
  <div class="kw-month-heading"> Gesamt für Monat: </div>
  <div class="day-time "><%= total_sum_month_csv.round(2) %> h</div>
  <div class="day-time"><%= total_sum_month_timelog.round(2) %> h</div>
  <% total_month_diff = total_sum_month_timelog - total_sum_month_csv %>
  <div class="day-time <%= total_month_diff.round(2) > 0 ? "positiv" : "negative" %> "><%= total_month_diff.round(2) %> h </div>
</div>
<div style="height:20px; width=100%;"></div>
