<h2> Benutzer <=> Personalnummer</h2>
<% unless @mappings.empty? %>
    <table>
        <tr>
            <th>Benutzer</th>
            <th>Personalnummer</th>
        </tr>
        <% @mappings.each do |user| %>
            <tr class="<%= cycle("odd", "even") %>">
                <td class="user">
					<%= link_to user.name, {:controller => 'csvupload', :action => 'user_mapping_detail', :user_id => user.id} %>
				</td>
                <td class="staffnumber">
					<% if user.Userstaffnumber %>
						<%= user.Userstaffnumber.staffnumber.to_s %>
					<% else %>
						--
					<% end %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
