<h2>Personalnummer für <%= @user.name %></h2>

<%= form_for(@user.Userstaffnumber, :url => {:controller => 'csvupload', :action => 'edit_user_mapping'}, :method => :post) do |e| %>
	<fieldset>
		<legend><%=@user.name %> </legend>
		<%= e.text_field :staffnumber %><br>
		<%= e.submit "Personalnumer speichern" %>
	</fieldset>
<% end %>
