Buchungsübersicht vom <%= (Date.today-7*@weeks).strftime("%d.%m.%Y") %> bis <%= Date.today.strftime("%d.%m.%Y") %>


<% @logs.each do |l| %>
  <%= l.spent_on.strftime("%d.%m.%Y") %> --  <%= l.issue.subject %> -- <%= l.hours %>h
<% end %>
