<h4>Buchungsübersicht vom <%= (Date.today-7*@weeks).strftime("%d.%m.%Y") %> bis <%= Date.today.strftime("%d.%m.%Y") %></h4>
<table>
  <% @logs.each do |l| %>
  <tr>
    <td><%= l.spent_on.strftime("%d.%m.%Y") %></td>
    <td style="padding-left: 20px;"><%= l.issue.subject %></td>
    <td style="padding-left: 20px;"><%= l.hours %>h</td>
  </tr>
  <% end %>
</table>
