<%= stylesheet_link_tag('sidebar', :plugin => 'redmine_mytimes') %>

<div class="menu">
  <% if not projects.empty? %>
    <h4>Projekte bei denen ich Projektleiter bin</h4>

    <% project_tree(projects) do |p, level| %>
      <%= link_to({ :controller => 'timelog', :action => 'index', :project_id => p.id }) do %>
        <div class="item <%= level==0 ? "icon icon-projects" : "subitem" %>" style="margin-left: <%= 15+level*10 %>px">
          <%= p.name %>
        </div>
      <% end %>
    <% end %>
    <br>
  <% end %>
  
  <% if User.current.allowed_to?(:controlling, nil, :global => true) %>
  <h4> Controlling Bereich </h4>
    <%= link_to('<div class="item icon icon-projects">Alle Buchungen aller Projekte</div>'.html_safe,
				  { :controller => 'timelog', :action => 'index', :project_id => nil}) %>

    <%= link_to('<div class="item icon icon-stats">Abgleich mit Stempelzeiten (Übersicht)</div>'.html_safe,
                {:controller => "csvupload", :action => "index"}) %>
    <%= link_to(('<div class="item subitem" style="margin-left: 15px;">Neue CSV-Datei hochladen</span></div>').html_safe,
              {:controller => "csvupload", :action => "upload"}) %>
    <%= link_to({:controller => "csvupload", :action => "user_mapping"}) do %>
        <div class="item subitem" style="margin-left: 15px;"> Zuordnung Personalnummer <=> Benutzer </div>
    <% end %>
  <% end %>
  
</div>
