<%= stylesheet_link_tag('sidebar', :plugin => 'redmine_mytimes') %>

<div class="menu">
  <% if User.current.allowed_to?(:log_time, nil, :global => true) %>
    <h4>Allgemein</h4>  
    <%= link_to(('<div class="item icon icon-time-add">'+l(:button_log_time)+'</div>').html_safe, 
              {:controller => 'timelog', :action => 'new', :project_id => @project, :issue_id => @issue}) %>
    <br>
  <% end %>
  <h4>Eigene Buchungen</h4>
  
  <% if TimeEntry.where(:user_id => User.current.id).first %>

    <%= link_to( '<div class="item icon icon-user">Alle eigene Buchungen</div>'.html_safe,
                  { :controller => 'timelog', :action => 'index', :user_id => User.current.id, :period => params[:period] ? params[:period] : "", :project_id => nil}) %>
    
    <% project_tree(projects) do |p, level| %>
    
        <%= link_to({ :controller => 'timelog', :action => 'index', :project_id => p.id,
                      :user_id => User.current.id, :period => params[:period] ? params[:period] : ""}) do %>
          <div class="item <%= level==0 ? "icon icon-projects" : "subitem" %>" style="margin-left: <%= 15+level*10 %>px">
            <%= p.name + ' (' + p.time_entries.where(:user_id => User.current.id).count.to_s + ' Eintr.)' %>
          </div>
        <% end %>
    <% end %>
  <% end %>

  <%= link_to({:controller => 'csvupload', :action => 'month_times_per_cweek', :user_id => User.current.id}) do %>
      <div class="item icon icon-stats">Abgleich mit Stempelzeiten</div>
  <% end %>
</div>
<br>
